<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Generador1._1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
    <userSettings>
        <Generador1._1.Properties.Settings>
            <setting name="ruta" serializeAs="String">
                <value/>
            </setting>
            <setting name="companyname" serializeAs="String">
                <value/>
            </setting>
            <setting name="header" serializeAs="String">
                <value/>
            </setting>
            <setting name="footer" serializeAs="String">
                <value/>
            </setting>
            <setting name="observation" serializeAs="String">
                <value/>
            </setting>
        </Generador1._1.Properties.Settings>
    </userSettings>
</configuration>
